.heading1 {
  text-align: center;
}

.heading2 {
  text-align: center;
}

.heading3 {
  text-align: left;
}

.section1 > p {
  text-align: right;
}

.section2 > p {
  text-align: center;
}

.section3 > p {
  text-align: left;
}

table {
  border-style: solid;
  border-width: medium;
  border-collapse: collapse;
  margin: 10pt auto;
}

thead {
  border-bottom-style: double;
  border-width: medium;
}

th {
  border-style: dotted;
  border-width: thin;
  padding: 7pt;
}

td {
  border-style: dotted;
  border-width: thin;
  padding: 3pt 7pt;
}

.table-cell-left {
  text-align: left;
}

.table-cell-center {
  text-align: center;
}

.table-cell-right {
  text-align: right;
}

.codeblock-container {
  width: 90%;
  padding: 10pt;
  margin: 0 auto;
}

.inline-code {
  padding-left: 0.2em;
  padding-right: 0.2em;
  color: rgb(101, 123, 131);
  background-color:rgb(253, 246, 227);
}