.header {
  text-align: center;
  margin: auto;
  line-height: 2;
  max-width: 800px;
  background-color: antiquewhite;
}

.tableOfContents {
  text-align: left;
  margin: auto;
  padding: 1em 0.3em;
  line-height: 2;
  max-width: 800px;
}

.container {
  box-sizing: border-box;
  margin: auto;
  padding: 1em 0.3em;
  line-height: 2;
  border: 1px solid black;
  max-width: 800px;
}
